# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# ML data files
*.csv
*.geojson

# Env files
.env
.env.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/
__pycache__/